# Fichiers sensibles
.env
.env.*
!.env.example
.env.bot1
.env.bot2
xi-bot-*.json
firebase-adminsdk-*.json

# Dependencies
node_modules/
package-lock.json

# Logs
*.log
logs/
bot1.log
bot2.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Fichiers de build
dist/
build/

"xi-bot-a46b5-firebase-adminsdk-*.json" 
xi-bot-a46b5-firebase-adminsdk-fbsvc-ff61e19670.json 
.env.bot1
.env.bot2".env" 
